ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}



.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
  }

.grid-item1 {
	font-size: 30px;
	text-align: center;
    height: 95vh;
    grid-auto-columns: auto auto;
    background-color: aqua;
}

.grid-item2 {
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 30px;
	text-align: center;
    height: 91vh;
    grid-auto-columns: auto auto;
}
body{
    margin: 0px;
}